<div class="container spacer" >
    <div class="card">
        <div class="card-header">Insert new contact</div>
        <div class="card-body">
            <form ng-app="myApp" name="myForm" novalidate>
                <!--ng-controller="validateCtrl"-->

                <div class="control-group" ng-class="{error: ComptesApp.name.$dirty && ComptesApp.name.$invalid}">
                    <label class="control-label">Name:</label>
                    <input name = "name" class="form-control" type="text" ng-model="client.firstName" required>
                    <!--<h1>{{myForm.myInput}}</h1>-->
                </div>
                <div>
                    <label class="control-label">Prenom:</label>
                    <input class="form-control" type="text" ng-model="client.lastName" required>
                </div>
                <div>
                    <label class="control-label">DateNiassance:</label>
                    <input class="form-control" type="date" ng-model="client.birthDate" required>
                </div>
                <div>
                    <label class="control-label">Tel:</label>
                    <input class="form-control" type="text" ng-model="client.tel" required>
                </div>

                <div class="spacer">
                    <button ng-click="addClient()" class="btn btn-success" ng-disabled="myForm.$invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>